/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* ***** header ***** */

header {
    position: relative;
    height: 25px;
    background-color: #DADADA;
    border-radius: 10px 10px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .window-commands {
    position: absolute;
    left: 5px;
}

header .win-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 3px;
}

#close {
    background-color: #FF6059;
}

#minimize {
    background-color: #FFBE2F;
}

#zoom {
    background-color: #27CA42;
}

/* ***** main ***** */

main {
    height: calc(100vh - 25px - 100px);
    background-color: black;
}

/* ***** footer ***** */

footer {
    height: 100px;
    background-color: #202223;
}

/* +++++ debug +++++ */

/* header .win-btn {
    background-color: blue;
} */

.debug main .view {
    height: 50px;
    background-color: green;
}

.debug main .webcams {
    height: 1000px;
    background-color: yellow;
}