/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* ***** header ***** */

header {
    background-color: black;
    height: 60px;
    padding-right: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .view-btn {
    background-color: #202223;
    margin: 10px 0 20px 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

header .view-btn span {
    margin-left: 5px;
}

/* ***** main ***** */

main {
    height: calc(100vh - 60px - 100px);
    background-color: black;
    display: flex;
}

main aside {
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main aside i {
    color: #7F7F7F;
    font-size: 50px;
}

main aside i:hover {
    cursor: pointer;
}

main aside i.active {
    color: #2EBAFF;
}


main .webcams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-content: center;
}

main .person {
    width: 300px;
    height: 180px;
    margin: 5px;
    position: relative;
}

main .person img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .person .infos {
    background-color: rgba(0,0,0,0.4);
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ***** footer ***** */

footer {
    height: 100px;
    background-color: #202223;
}

/* +++++ debug +++++ */

/* header .win-btn {
    background-color: blue;
} */

/* .debug main .view {
    height: 50px;
    background-color: green;
} */

/* .debug main .main-content {
    height: 1000px;
    background-color: yellow;
} */

/* .debug .main-content {
    height: 100%;
} */

/* .debug .main-content aside {
    background-color: grey;
} */

/* .debug .webcams {
    background-color: green;
} */

/* .debug .webcams .person {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    background-color: brown;
} */