/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* ***** header ***** */

header {
    color: black;
    position: relative;
    height: 25px;
    background-color: #DADADA;
    border-radius: 10px 10px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .window-commands {
    position: absolute;
    left: 5px;
}

header .win-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 3px;
}

#close {
    background-color: #FF6059;
}

#minimize {
    background-color: #FFBE2F;
}

#zoom {
    background-color: #27CA42;
}

/* ***** main ***** */

main {
    height: calc(100vh - 25px - 100px);
    background-color: black;
}

main .view {
    margin-right: 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .view-btn {
    background-color: #202223;
    margin: 10px 0 20px 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

main .view-btn span {
    margin-left: 5px;
}


main .main-content {
    display: flex;
}

main .main-content aside {
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-content aside i {
    color: #7F7F7F;
    font-size: 50px;
}

main .main-content aside i.active {
    color: #2EBAFF;
}

main .main-content .webcams {
    width: 80%;
    height: 100%;

    flex-grow: 1;
}

/* ***** footer ***** */

footer {
    height: 100px;
    background-color: #202223;
}

/* +++++ debug +++++ */

/* header .win-btn {
    background-color: blue;
} */

/* .debug main .view {
    height: 50px;
    background-color: green;
} */

/* .debug main .main-content {
    height: 1000px;
    background-color: yellow;
} */

/* .debug .main-content {
    height: 100%;
} */

/* .debug .main-content aside {
    background-color: grey;
} */

.debug .main-content .webcams {
    background-color: green;
}

.debug .webcams .person {
    height: 100px;
    width: 200px;
    border: 1px solid black;
}